<nav class="navBar flex items-center bg-gray-800 px-4 h-16">
  <select
    (change)="onOptionSelected($event)"
    class="navBar__select w-20 h-10 focus:outline-none rounded-sm bg-gray-600 text-gray-300 hover:bg-slate-500 hover:text-white transition ease-in-out appearance-none text-center"
  >
    <option value="all" class="navBar__select-option-1">all</option>
    <option value="woman" class="navBar__select-option-2">woman</option>
    <option value="man" class="navBar__select-option-3">man</option>
  </select>
</nav>
